
.sent div span {
    color: var(--main-col);
}

.sent {
    text-align: right;
    align-self: flex-end;
    background-color: var(--bg);    
}

.received {
    text-align: left;
    align-self: flex-start;
    background-color: var(--purple-bg);
}

.received div span {
    color: var(--dark-purple);
    
}

.sent span, .received span {
    padding: 8px;
}

@media only screen and (max-width: 1000px) {
    .sent, .received {
        display: inline-table;
        display: flex;
        flex-direction: column;
    }
    .sent {
        align-items: end;
    }
    .received {
        align-items: start;
    }

    .message-text {
        word-wrap: break-word;
        overflow-wrap: break-word;
        display: block;
        width: 80%;
    }
}