.search-bar {
  margin: 10px 20px;
  position: relative;
}

.search-input {
  padding: 10px 40px 10px 10px;
  border-radius: 25px;
  border-color: var(--bg);
}

.ri-search-2-line  /*search icon*/ {
  position: absolute;
  top: 8px;
  right: 16px;
  color: var(--main-col);
}

@media only screen and (max-width: 480px) {
  .search-input {
    width: 130px;
  }
}
