.chats-section {
  padding: 30px;
  margin: 20px;
  border-radius: 16px;
  border-color: var(--bg);
  border-style: inset;
  background-color: var(--main-col);
  height: 70%;
}

.chats-title {
  font-size: 30px;
  margin: 14px;
  color: var(--bg);
  font-weight: 500;
}
.chats {
  padding: 16px;
  background-color: var(--bg);
  border-radius: 8px;
  list-style-type: none;
  height: 70%;
  overflow-y: scroll;
  scrollbar-color: var(--bg);
  scrollbar-width: thin;
}
