.chat-item {
  margin: 14px;
  padding: 14px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.chat-item:hover{
  background-color: #afc38f;
}

.chat-item div {
  display: flex;
  flex-direction: column;
}

.contact-name {
  color: var(--main-col);
  font-weight: 600;
  margin: 4px 0;
}

.contact-message {
  color: grey;
  font-size: 16px;
  padding: 0;
}

.message-time {
  color: grey;
  font-size: 16px;
  display: flex;
  align-items: center;
}
