.chats-section {
  padding: 12px;
  margin: 6px;
  border-radius: 16px;
  border-color: var(--bg);
  border-style: inset;
  background-color: var(--main-col);
  max-height: 86vh;
}

.chats-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.chats-search {
  display: flex;
  align-items: center;
}

.new-chat-button {
  background: var(--purple-bg);
  color: var(--dark-purple);
  border-radius: 12px;
  border-color: var(--dark-purple);
  margin: 0px;
  padding: 0;
  height: 40px;
  min-width: 90px;
}

.chats-title {
  margin: 14px;
  color: var(--bg);
  font-weight: 500;
}

.chats {
  padding: 4px;
  background-color: var(--bg);
  border-radius: 8px;
  border-style: inset;
  border-color: var(--bg);
  list-style-type: none;
  height: 76vh;
  overflow-y: scroll;
  scrollbar-color: var(--bg);
  scrollbar-width: thin;
}

@media only screen and (max-width: 1640px) {
  .chats {
    height: 66vh;
  }
}

@media only screen and (max-width: 988px) {
  .chats-header, chats-search {
    display: flex;
    flex-direction: column;
  }

  .chats {
    height: 56vh;
  }

}

@media only screen and (max-width: 400px) {
  .chats-section {
      margin: 0;
      padding: 2px;
  }

}