.section-chat {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 68px);
  width: 100%;
  height: 100%;
}

.new-chat-header {
  background-color: var(--purple-bg);
  display: flex;
  align-items: center;
  padding-left: 8px;
  position: relative;
}

.new-chat-header h1 {
  color: var(--dark-purple);
  margin: 16px 0;
}

.new-chat-header input {
  border-color: var(--dark-purple);
}

.new-chat-footer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 8px;
  color: var(--dark-purple);
}

.dropdown-ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.dropdown-li {
  padding: 8px;
  cursor: pointer;
  z-index: 1;
  border-bottom: 1px solid var(--dark-purple);
}

.dropdown-li:hover {
  background-color: var(--dark-purple);
  color: white;
}

.new-chat-footer .create-button  {
  background: var(--purple-bg);
  color: var(--dark-purple);
  border-radius: 8px;
  border-color: var(--dark-purple);
  padding: 8px;
  margin: 8px;
}